<mat-card>
  <mat-card-title>{{getTitle()}}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="formModel" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field appMongoIndexLimit>
          <input matInput type="text" placeholder="Username" formControlName="username">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appMongoIndexLimit>
          <input matInput type="text"  placeholder="Email" formControlName="email">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appMongoIndexLimit>
          <input matInput type="password"  placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appMongoIndexLimit>
          <input matInput type="password"  placeholder="Confirm password" formControlName="passwordConfirm">
        </mat-form-field>
      </p>


      <div class="button">
        <button type="submit" mat-button>Sign in</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
